#biography{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-image: url("./img/hippie1.png");
    gap: 1%;
}
#group-photo{
    height: 200px;
    border-radius: 30px;
    border-color: white;
    border-style: groove;
}

