#biography{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-image: url("/img/hippie1.png");
}
#group-photo{
    margin: 2%;
    /* width: 400px; */
    height: 240px;
    border-radius: 30px;
    border-color: white;
    border-style: groove;
}

