#main-container {
    border-style: groove;
    border-color: blue;
    margin: 10px;
    display: flex;
    flex-direction: row;
}
#cartel{
    border-style: groove;
    border-color: brown;
    margin: 50px;
    padding: 5px;
}
#shopping-section{
    border-style: groove;
    border-color: green;
    margin: 50px;
}
#cartel-img{
    width: 380px;
    height: 580px;
}