#main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#cartel-img{
    margin-top: 15%;
    height: 85vh;
    border-radius: 80px;
    border-style: groove;
    border-color: white;
}