.text-container{
    margin: 2%;
    width: 40%;
    background-color: rgba(101, 87, 87, 0.5);
    font-size: large;
    color: white;
    padding: 30px;
    border-color: white;
    border-style: groove;
}