.text-container{
    width: 50%;
    background-color: rgba(101, 87, 87, 0.5);
    font-size: medium;
    color: white;
    padding: 30px;
    border-color: white;
    border-style: groove;
    text-align: justify;
}
